
<style>
a.btn.btn-primary.btn-block.content-group,
a.btn.btn-primary.btn-block.content-group:hover,
a.btn.btn-primary.btn-block.content-group:focus {
    background:#ff0000!important;
    border-color:#ff0000!important;
    color:#fff!important;
}
btn-primary {
    background-color:#ff0000!important;
    background:#ff0000;
}
</style>
